.container {
    padding: 1rem 2rem;
}

.container .clubs {
    display: flex;
}

.club {
    width: 25%;
    border-radius: 5%;
    box-shadow: 1.5px 1.5px lightgray;
    margin-right: 1.5rem;
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
}

.club:hover {
    opacity: 0.7;
    box-shadow: 3px 3px gray;
}

.stadium {
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    height: 300px;
}

.stadium:hover {
    transform: scale(1.01);
    transition: all 1s;
}

.club-logo {
    display: flex;
    width: 5rem;
    height: 5rem;
    margin: auto;
    justify-content: center;
    margin: 3rem auto 1.5rem;
}

.club-logo img {
    background-color: transparent;
}
