{% extends 'base.html.twig' %}

{% block title %}Hello CoachController!{% endblock %}

{% block body %}
<style>
    table {
        border-collapse: collapse;
        font-family: Tahoma, Geneva, sans-serif;
    }
    table td {
        padding: 15px;
    }
    table thead td {
        background-color: #54585d;
        color: #ffffff;
        font-weight: bold;
        font-size: 13px;
        border: 1px solid #54585d;
    }
    table tbody td {
        color: #636363;
        border: 1px solid #dddfe1;
    }
    table tbody tr {
        background-color: #f9fafb;
    }
    table tbody tr:nth-child(odd) {
        background-color: #ffffff;
    }
</style>

<table>
	<thead>
		<tr>
			<td>Name</td>
			<td>Salary</td>
			<td>Club</td>
		</tr>
	</thead>
	<tbody>
        {% for coach in coaches %}
            <tr>
                <td>{{ coach.name }}</td>
                <td>{{ coach.salary }}</td>
                <td>{{ coach.club ?: 'None' }}</td>
            </tr>
        {% endfor %}
	</tbody>
</table>
{% endblock %}
